<div class="row mt-3">
  <div class="col-8">
      <div class="title">
        <h1><%= @flat.name %></h1>
        <h4><%= @flat.address %></h4>
      </div>
    <div class="title">
      <h2>A bit more about <%= @flat.name %></h2>
      <p><%= @flat.description %></p>
    </div>
  </div>
  <div class="col-4 container">
    <div class="title">
      <h3>Book this place!</h3>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">From:</span>
        </div>
        <input type="text" class="form-control" placeholder="DD/MM/YYYY" aria-describedby="inputGroupPrepend2" required>
      </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">To:</span>
          </div>
          <input type="text" class="form-control" placeholder="DD/MM/YYYY" aria-describedby="inputGroupPrepend2" required>
          <button type="button" class="btn btn-success btn-lg btn-block mt-2">Book</button>
        </div>
      </div>
</div>



